<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY_PRIVATE</key>
	<string>5e93b45091333c1dc569f260a572c58c426bfb82</string>
	<key>API_KEY_PUBLIC</key>
	<string>0f9510284444d6dc5cbbd56fe13d5b02</string>
</dict>
</plist>
